doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title User
        include stylesheets.pug
        style.
            body {background: linear-gradient(hsla(191, 100%, 61%, 1),hsla(300, 100%, 66%, 1));
            background-attachment: fixed;}
            .nav-link {
            border-radius: 0px !important;
            transition: all 0.5s;
            width: 100px;
            display: flex;
            flex-direction: column}
            .nav-link small {
            font-size: 12px}
            .nav-link:hover {background-color: #52525240 !important}
            .nav-link .fa {
            transition: all 1s;
            font-size: 20px}
            .nav-link:hover .fa {
            transform: rotate(360deg)}
            .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            position: fixed;
            height: 80%;
            overflow: auto;}
            h1 {
                color:white;
                text-shadow: 1px 1px 1px black;
                shadow-color:black;
            }
    body
        include navbar.pug
        //- if user.role=="ADMIN"
        //-     a.btn.btn-primary(href='/songs/add-song/').justify-content-center.align-items-center Add Song
        br
        br
        .d-flex.flex-column.flex-shrink-0.bg-light.vh-100(style='width: 100px;').shadow.sidebar
            ul.nav.nav-pills.nav-flush.flex-column.mb-auto.text-center
                    li.nav-item
                    a.nav-link.py-3.border-bottom(href='/user/home')
                        i.fa.fa-home
                        small Home
                    a.nav-link.py-3.border-bottom(href='/user/edit/'+user._id)
                        i.fa.fa-user
                        small My Account
                    li
                    a.nav-link.py-3.border-bottom(href='/user/likes/'+user._id)
                        i.fa.fa-heart
                        small Likes
                    li
                    a.nav-link.py-3.border-bottom.active(href='/user/genres/')
                        i.fa.fa-music
                        small Discover By Genres
        
        div.container
            h1 Pop
            br
            div.d-flex.flex-wrap.justify-content-between.align-items-center
                each song in songs
                    if song.genre=="Pop"
                        .card(style='width: 15rem;').justify-content-center.shadow
                            img.card-img-top(src='/images/'+song.img  alt='')
                            .card-body
                                h5.card-title.text-center #{song.name}
                                p.text-center #{song.artist}
                                audio(controls='', style='margin-left: 0.5rem; width:12rem;').justify-content-center
                                    source(src='/images/'+song.song type='audio/mpeg')
                                form(method='POST', action='/user/'+user._id + '/like/' +song._id +'/?redirect='+url)
                                    //- #{user.songs.findIndex((item)=>item._id.toString()==song._id)}
                                    //- #{song._id}
                                    //- #{user.songs[song]._id}
                                    if user.songs.findIndex((item)=>item._id.toString()==song._id.toString())>=0
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-heart(style="color:red")
                                    else
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-regular.fa-heart(style="color:grey")
        br
        div.container
            h1 Rock
            br
            div.d-flex.flex-wrap.justify-content-between.align-items-center
                each song in songs
                    if song.genre=="Rock"
                        .card(style='width: 15rem;').justify-content-center.shadow
                            img.card-img-top(src='/images/'+song.img  alt='')
                            .card-body
                                h5.card-title.text-center #{song.name}
                                p.text-center #{song.artist}
                                audio(controls='', style='margin-left: 0.5rem; width:12rem;').justify-content-center
                                    source(src='/images/'+song.song type='audio/mpeg')
                                form(method='POST', action='/user/'+user._id + '/like/' +song._id +'/?redirect='+url)
                                    //- #{user.songs.findIndex((item)=>item._id.toString()==song._id)}
                                    //- #{song._id}
                                    //- #{user.songs[song]._id}
                                    if user.songs.findIndex((item)=>item._id.toString()==song._id.toString())>=0
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-heart(style="color:red")
                                    else
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-regular.fa-heart(style="color:grey")
        br
        div.container
            h1 Hip-Hop
            br
            div.d-flex.flex-wrap.justify-content-between.align-items-center
                each song in songs
                    if song.genre=="Hip-Hop"
                        .card(style='width: 15rem;').justify-content-center.shadow
                            img.card-img-top(src='/images/'+song.img  alt='')
                            .card-body
                                h5.card-title.text-center #{song.name}
                                p.text-center #{song.artist}
                                audio(controls='', style='margin-left: 0.5rem; width:12rem;').justify-content-center
                                    source(src='/images/'+song.song type='audio/mpeg')
                                form(method='POST', action='/user/'+user._id + '/like/' +song._id+'/?redirect='+url)
                                    //- #{user.songs.findIndex((item)=>item._id.toString()==song._id)}
                                    //- #{song._id}
                                    //- #{user.songs[song]._id}
                                    if user.songs.findIndex((item)=>item._id.toString()==song._id.toString())>=0
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-heart(style="color:red")
                                    else
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-regular.fa-heart(style="color:grey")
        br
        div.container
            h1 House
            br
            div.d-flex.flex-wrap.justify-content-between.align-items-center
                each song in songs
                    if song.genre=="House"
                        .card(style='width: 15rem;').justify-content-center.shadow
                            img.card-img-top(src='/images/'+song.img  alt='')
                            .card-body
                                h5.card-title.text-center #{song.name}
                                p.text-center #{song.artist}
                                audio(controls='', style='margin-left: 0.5rem; width:12rem;').justify-content-center
                                    source(src='/images/'+song.song type='audio/mpeg')
                                form(method='POST', action='/user/'+user._id + '/like/' +song._id+'/?redirect='+url)
                                    //- #{user.songs.findIndex((item)=>item._id.toString()==song._id)}
                                    //- #{song._id}
                                    //- #{user.songs[song]._id}
                                    if user.songs.findIndex((item)=>item._id.toString()==song._id.toString())>=0
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-heart(style="color:red")
                                    else
                                        button.btn(type='submit').justify-content-center
                                            i.fa.fa-regular.fa-heart(style="color:grey")
        div.footer(style="height:3rem")